* { margin: 0; padding: 0; box-sizing: border-box; }
/*      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
  form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
  form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
  #messages { list-style-type: none; margin: 0; padding: 0; }
  #messages li { padding: 5px 10px; }
  #messages li:nth-child(odd) { background: #eee; }
*/
body.overlay-visible{
	position:fixed;
}

body{
	font-size: 12px;
	max-width: 500px;
	margin: auto;
}

body, span, p, i, b, a{
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6{
	font-size: 16px;
}

h1{
	text-align: center;
	padding: 0 10px;
	background: rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.2);
	/*margin: 0 10px 0 10px;*/
	/*border-radius: 0 0 3px 3px;*/
}
h1 span{
	display: none;
	float: right;
	margin-top: 58px;
	font-size: 1.0em;
	margin-right: 10px;
	margin-left: 10px;
	display: inline-block;
}

h1 img{
	margin: 0 auto;
	display: inline-block;
	width: auto;
	max-width: 100%;
	text-align: center;

}
.controls{
  width: 100%;

  text-align: center;
}

.control-group-one,
.control-group-two{
	clear:both;
	display:block;
	overflow:hidden;
}

.control-group-one span,
.control-group-two span{
	padding: 15px 0px;
	border: 10px solid #ccc;
}

.control-group-one span{
	width: 100%;
}

.control-group-two span{
	width: 50%;
	margin: 0px;
	display:inline-block;
	float:left;
}

.control-group-two span:first-child{
	background: #1F5C99;	
}

.control-group-two span:last-child{
	background: #4C7DAD;	
}

body{
  background: rgba(100,100,100,0.5);
  color: white;
  font-size: 1.0em;
  line-height: 1.4em;
  font-family: Arial;
  font-variant: small-caps;
  text-align: center;
}

h2{
  margin-bottom: 10px;
}

.controls i{
}

.controls span{
  font-size: 12px;
  overflow: hidden;
  display: block;
  cursor: pointer;
  /*padding: 10px 0px;*/
  background: rgba(0,0,0,0.3);

}

.controls span{
	/*width: 100%;*/
}

.controls span:hover{
	background: rgba(0,0,0,0.6);
}

.next-page:hover{
	/*background: #2ecc71;*/
}

.home-page:hover{
	/*background: rgba(41, 128, 185,0.2);*/
}

.previous-page:hover{
	/*background: #e67e22;*/
}

.neighborhood-select-button{
	/*border: 1px solid white;*/
	/*border-radius: 5px;*/
	padding: 10px;
	cursor: pointer;
}

.neighborhood-select-button:hover{
	/*background: #f1c40f;*/
}

.slideup-window{
	padding: 20px;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	background: rgba(0,0,0,0.9);
}

.neighborhood-picker{
	z-index: 100;
	position:fixed;
	height:100%;
}

.neighborhood-picker ul{
	list-style: none;
	height: 100%;
	overflow:scroll;
	padding-bottom: 50px;
}
.neighborhood-picker li{
	/* border-bottom: 1px solid white; */
	padding: 10px;
	cursor: pointer;
	min-height: 80px;
	font-size: 12px;
	float: left;
	min-height: 113px;
	line-height: 14px;
	width: 33%;
}

.neighborhood-picker img{
	width: 100%;
	height: auto;
	clear: both;
	margin-bottom: 6px;
	/* float: left; */
	display: block;
}

.neighborhood-picker li:hover{
/*	background: #9b59b6;
*/}

.cancel{
	background: #e74c3c;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	cursor: pointer;
	height: 50px;
}

.controls span.xpress{
	width: 100% !important;
	background: rgba(106, 69, 111, 0.5);
	border-color: rgba(106, 69, 111, 1.0);

}



.search-window input{
	height: 88px;
	display: inline-block;
	font-size: 1.5em;
}

.search-window{
	font-size: 1.5em;
}

.search-window h2{
	margin-bottom: 20px;
}

#remote-content-window{
	background: rgba(0,0,0,0.8);
}

#remote-content-window img{
	width: 100px;
	height: auto;
	/*float: left;*/
	background: white;
}

.control-group{
	/*display: none;*/
}


.top-menu{
	/*padding: 20px 0;*/
	background:#1F5C99;
	overflow:hidden;
}

.top-menu > li{
	display: inline-block;
	/*margin: 0 10px;*/
	width: 25%; 
	float:left;
	cursor:pointer;
}

.top-menu > li:active{
	background: #666;
}

.top-menu > li:last-child span{
	border-right: none;
}

.top-menu span{
	display: block;
	/*background: black;*/
	margin: 0;
	min-height: 44px;
	padding: 10px;
	border-right: 1px solid #4C7DAD;

}

.top-menu span *{
	display: block;
	clear:both;
}

.venue-show-item{
	clear: both;
	background: rgba(0,0,0,0.8);
	padding: 10px;
	font-size: 0.8em;
	display: block;
	/*height: 100px;*/
	border-top: 1px solid #333;
}

.venue-show-item > div{
	text-align: left;
	overflow:hidden;
	min-height: 60px;
}

.venue-show-item .show-title{
	float:left;
	/*margin-top: 1em;*/
	max-width: 70%;
}

.venue-show-item img{
	float:right;
	max-width: 30%;
}

.venue-show-item img{
	display: block;
	float: right;
	margin-top: -20px;
}

.venue-show-item h2{
	padding-right: 10px;
}

.venue-show-item h2 span{
	display:block;
	clear:both;
}

.slide-content-wrapper h2 span{
	display: none;
}
.slide-content-wrapper h2{
	font-size: 1.3em;
}

/*NAV SLIDERS*/
.nav-slider-container{
	clear:both;
	text-align: center;
	width: 100%;
}

#venue-nav-slidr{
	max-height: 139px;
}

#venue-nav-slidr, #venue-nav-slidr div{
	width: 100%;
}

.nav-slider-container aside{
	display:none;
}

.nav-slider-container > div{
	/*width: 320px;*/
	overflow:hidden;
	margin:auto;
}

.nav-slider-container h4{
	background: rgba(31, 92, 153, .9);
	z-index: 100;
	color: white;
	position: absolute;
	width: 100%;
	padding: 5px 0px;
}

.nav-slider-container img{
	width: 100%;
}

/* PATRICK TEST */
.venue-show-page-next.bad, .venue-show-page-previous.bad{
	background: #ddd !important;
	color: #aaa !important;
	/*display:none;*/
}