<!doctype html>
<html ng-app="amgioskRemote">
<head>
    <title>AMGiosk Remote</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/app.css" rel="stylesheet">
</head>
<body id='amgRemoteAppContainer' ng-app="" ng-controller="amgioskRemoteController">
    <h1>
        <img src='/img/logo.png' />
    </h1>
    <div class='top-menu-container'>
        <ul class='top-menu'>
            <li>
                <span class='module-button module-shows' data-amgiosk-module='show'>
                    <i class="fa fa-music"></i>
                    Shows
                </span>
            </li>
            <li>
                <span class='module-button module-venues' data-amgiosk-module='venue'>
                    <i class="fa fa-home"></i>
                    Venues
                </span>
            </li>
            <li>
                <span class='module-button module-social' data-amgiosk-module='social'>
                    <i class="fa fa-facebook"></i>
                    Social
                </span>
            </li>
            <li>
                <span class='module-button module-video' data-amgiosk-module='video'>
                    <i class="fa fa-youtube"></i>
                    Video
                </span>
            </li>
        </ul>
    </div>
    <div class='control-groups'>
        <div ng-show='active_mode == "show"' class='control-group control-group-show'>
            Show Controls
            <div class='date-pager control-group-two'>
                <span ng-click="sendMessage('page-previous'); " class='previous-page'>
                    <i class="fa fa-arrow-circle-left"></i>
                    Back
                </span>
                <span ng-click="sendMessage('page-next'); " class='next-page'>
                    Next
                    <i class="fa fa-arrow-circle-right"></i>
                </span>
            </div>             
        </div>
        <div ng-show='active_mode == "venue"' class='control-group control-group-venue'>
            <div class='controls'>
                <div class="control-group-one">
                    <span class='neighborhood-select-button'>
                        <i class="fa fa-list"></i>
                        Venue List
                    </span>
                </div> 

                <div class="nav-slider-container">
                    <div id='venue-nav-slidr' class="nav-slider">
                        <div class='remote-venue-item' data-slidr='one'>
                            <h4 class='remote-venue-name'>One Stop2</h4>
                            <img class='remote-venue-detail' width="100" src="/img/odditorium.jpg"/>                            
                        </div>
                        <div class='remote-venue-item' data-slidr='two'>
                            <h4 class='remote-venue-name'>One Stop2</h4>
                            <img class='remote-venue-detail' width="100" src="/img/odditorium.jpg"/>                            
                        </div>
                    </div>
                </div>  
                <div class='venue-pager control-group-two'>
                    <span ng-click="venue_nav_direction = 'left'; sendMessage('page-previous') " class='previous-page'>
                        <i class="fa fa-arrow-circle-left"></i>
                        Back
                    </span>
                    <span ng-click="venue_nav_direction = 'right'; sendMessage('page-next'); " ng-class="getClass($index)" class='next-page '>
                        Next
                        <i class="fa fa-arrow-circle-right"></i>
                    </span>
                </div> 
              </div>               
                <div class="nav-slider-container" style='display: none'>
                    <div id='date-nav-slidr' class="nav-slider">
                        <div data-slidr='one'><h4>Wed Jan 28 2015 - Thu Feb 12 2015</h4></div>
                        <div data-slidr='two'><h4>Wed Jan 28 2015 - Thu Feb 12 2015</h4></div>
                    </div>
                </div>                
                <div class="control-group-two">
                    <span  ng-class="getVenueShowPageBackClass()" ng-click="processVenueShowPageClick(false)" class='venue-show-page-previous'>
                        <i class="fa fa-home"></i>
                        <i class="fa fa-arrow-circle-left"></i>
                        Back
                    </span>
                    <span  ng-class="getVenueShowPageNextClass()" ng-click="processVenueShowPageClick(true)" class='venue-show-page-next'>
                        Next 
                        <i class="fa fa-home"></i>
                        <i class="fa fa-arrow-circle-right"></i>
                    </span>
                </div>
           
            </div>
        </div>
        <div  ng-show='active_mode == "social"'  class="control-group control-group-social control-group-one">
            Social Controls
        </div>
        <div  ng-show='active_mode == "video"'  class='control-group control-group-video control-group-one'>
            Video Controls
        </div>
    </div>
    <div class='controls-one'>
        <div class='controls'>      
            <div id='remote-content-window-container'>
                <div class='control-groups'>
                    <div  ng-show='active_mode == "show"' class='control-group control-group-show'>
                        Show Sub Controls
                        <div class="control-group-two" >
                            <span class='previous-page'>
                                <i class="fa fa-music"></i>
                                Tickets
                            </span>
                            <span class='previous-page'>
                                <i class="fa fa-music"></i>
                                Listen
                            </span>
                        </div>
                    </div>
                    <div  ng-show='active_mode == "venue"' class='control-group control-group-venue'>
                        <!-- Venue Sub Controls -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <h2>Content Window</h2> -->
    <div id='remote-content-window'>
    </div>


    <!-- Date Header -->
    {{ activeDateMin }} - {{ activeDateMax }}
    <ul>
        <!-- ngRepeat: contact in contacts -->
        <li class='venue-show-item' ng-repeat="show in active_show_page">
           {{ show.node_title }} 
           <img ng-src='{{ getShowImageSrc(show.image) }}' />
        </li>
    </ul>


    <!-- FILTER VENUE -->
    <div class='neighborhood-picker slideup-window'>
        <h2>Filter by Venue</h2>
        <ul class='neighborhood-list'>
            <li ng-repeat="venue in getActiveVenueList()" class='venue-item' data-id='{{ venue.nid }}' ng-click="venueListClick(venue)" >
               <img ng-src='{{ getShowImageSrc(venue.image) }}' />
                {{ venue.node_title}}
            </li>
        </ul>
        <div class='cancel'>
            Cancel
        </div>
    </div>


    <div class='search-window slideup-window'>
        <h2>Search for Shows + Bands</h2>
        <div>
            <i class="fa fa-search"></i>
            <input type='search' value='' placeholder='Search' />
        </div>
    </div>

    <script src="/node_modules/angular/angular.js"></script>
    <script src="/js/slidr/slidr.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/js/remote.js"></script>
    <script src="http://www.ashevillemusicguide.com/testservice/views/venue_image.jsonp?callback=render_venue_list"></script>


</body>
</html>

