/* PRC Color Vars */
/*--------------------------------------------------------------------------------------------------------------

GLOBAL STYLES

--------------------------------------------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
  form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
  form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
  #messages { list-style-type: none; margin: 0; padding: 0; }
  #messages li { padding: 5px 10px; }
  #messages li:nth-child(odd) { background: #eee; }
*/
body.overlay-visible {
  position: fixed;
}
td {
  display: table-cell;
}
table {
  padding: 0px;
  border-collapse: collapse;
}
body {
  font-size: 12px;
  max-width: 500px;
  margin: auto;
  background: rgba(100, 100, 100, 0.5);
  color: white;
  font-size: 1.0em;
  line-height: 1.4em;
  font-family: "Oswald", "Helvetica Neue", "Open Sans", Helvetica;
  font-weight: lighter;
  /*font-variant: small-caps;*/
  text-align: center;
}
body,
span,
p,
i,
b,
a {
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
}
h1 {
  /*	text-align: center;
	padding: 0 10px;
	background: rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.2);*/
  /*margin: 0 10px 0 10px;*/
  /*border-radius: 0 0 3px 3px;*/
}
h1 span {
  display: none;
  float: right;
  margin-top: 58px;
  font-size: 1.0em;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
}
h1 img {
  margin: 0 auto;
  display: inline-block;
  width: auto;
  max-width: 100%;
  text-align: center;
}
h2 {
  margin-bottom: 10px;
}
/*--------------------------------------------------------------------------------------------------------------

CONTROL GROUP STYLES

--------------------------------------------------------------------------------------------------------------*/
.show-header-container {
  width: 80%;
  display: inline-block;
  float: left;
}
.controls {
  width: 100%;
  position: relative;
  text-align: center;
}
.controls span {
  /*font-size: 12px;*/
  overflow: hidden;
  display: block;
  cursor: pointer;
  /*padding: 10px 0px;*/
  /*background: rgba(0,0,0,0.3);  	*/
}
.control-group {
  clear: both;
  display: block;
  overflow: hidden;
}
.control-group span {
  padding: 10px 0px;
  background: #4C7DAD;
  /*float: left;*/
}
.control-group.control-group-one span {
  width: 100%;
}
.control-group.control-group-two span {
  display: inline-block;
  float: left;
  width: 50%;
}
.control-group.control-group-three span {
  display: inline-block;
  float: left;
  width: 33.33%;
  /*padding-right: 1%;*/
}
.control-group.control-group-one,
.control-group.control-group-two,
.control-group.control-group-three {
  background: #4C7DAD;
}
.control-group.control-group-two span,
.control-group.control-group-header span {
  margin: 0px;
  display: inline-block;
  float: left;
  font-size: 2em;
}
.control-group.control-group-header span {
  width: 10%;
  /*			max-width: 50px;
			max-height: 50px;*/
}
.control-group.control-group-header span.nav-prev {
  /*border-radius: 0px 5px 0px 0px;*/
}
.control-group.control-group-header span.nav-next {
  /*border-radius: 5px 0px 0px 0px;*/
}
.control-group.control-group-header h3,
.control-group.control-group-header p {
  /*width: 70%;*/
  /*float:left;*/
  display: inline-block;
  color: #666;
  margin: auto;
}
.control-group.control-group-two span:first-child {
  /*background: #1F5C99;	*/
}
.control-group.control-group-two span:last-child {
  /*		background: #4C7DAD;	*/
}
.control-group.control-group-slider {
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 0px;
}
.control-group.control-group-slider span {
  background: #4C7DAD !important;
}
.control-group.control-group-shows {
  margin-top: 20px;
  /*padding-bottom: 10px;*/
  /*border-bottom: 5px solid #82AD1A;*/
}
.control-group.control-group-shows h3 {
  margin-top: 5px;
  color: #666;
}
.control-group.control-group-shows span {
  background: #82AD1A;
}
.control-group.slider-nav span,
.control-group.control-group-header span {
  position: relative;
  top: 0px;
}
.control-group.slider-nav span i,
.control-group.control-group-header span i {
  text-align: center;
}
.control-group.slider-nav span.nav-prev,
.control-group.control-group-header span.nav-prev {
  float: left;
  /*margin-left: -25px;*/
  padding-left: 10px;
  padding-right: 10px;
}
.control-group.slider-nav span.nav-prev i,
.control-group.control-group-header span.nav-prev i {
  /*float:right;*/
}
.control-group.slider-nav span.nav-next,
.control-group.control-group-header span.nav-next {
  float: right;
  /*margin-right: -25px;*/
  padding-right: 10px;
  padding-left: 10px;
}
.control-group.slider-nav span.nav-next i,
.control-group.control-group-header span.nav-next i {
  /*float:left;*/
}
.controls span {
  /*width: 100%;*/
}
.controls span:hover {
  background: rgba(0, 0, 0, 0.6);
}
.next-page:hover {
  /*background: #2ecc71;*/
}
.home-page:hover {
  /*background: rgba(41, 128, 185,0.2);*/
}
.previous-page:hover {
  /*background: #e67e22;*/
}
/*--------------------------------------------------------------------------------------------------------------

NEIGHBORHOOD SELECT

--------------------------------------------------------------------------------------------------------------*/
.neighborhood-select-button {
  padding: 15px 0px;
  margin: 10px;
  background: #82AD1A !important;
  border-radius: 5px;
  max-width: 300px;
  font-size: 1.5em;
  margin: 10px auto;
  /*text-transform: uppercase;*/
}
.neighborhood-select-button:hover {
  /*background: #f1c40f;*/
}
.slideup-window {
  padding: 20px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
}
.neighborhood-picker {
  z-index: 100;
  position: fixed;
  height: 100%;
}
.neighborhood-picker ul {
  list-style: none;
  height: 100%;
  overflow: scroll;
  padding-bottom: 50px;
}
.neighborhood-picker li {
  /* border-bottom: 1px solid white; */
  padding: 10px;
  cursor: pointer;
  min-height: 80px;
  font-size: 12px;
  float: left;
  min-height: 113px;
  line-height: 14px;
  width: 33%;
}
.neighborhood-picker img {
  width: 100%;
  height: auto;
  clear: both;
  margin-bottom: 6px;
  /* float: left; */
  display: block;
}
.neighborhood-picker li:hover {
  /*	background: #9b59b6;
*/
}
.cancel {
  background: #e74c3c;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  height: 50px;
}
.controls span.xpress {
  width: 100% !important;
  background: rgba(106, 69, 111, 0.5);
  border-color: #6a456f;
}
/*--------------------------------------------------------------------------------------------------------------

CONTROL GROUP STYLES

--------------------------------------------------------------------------------------------------------------*/
.search-window input {
  height: 88px;
  display: inline-block;
  font-size: 1.5em;
}
.search-window {
  font-size: 1.5em;
}
.search-window h2 {
  margin-bottom: 20px;
}
#remote-content-window {
  background: rgba(0, 0, 0, 0.8);
}
#remote-content-window img {
  width: 100px;
  height: auto;
  /*float: left;*/
  background: white;
}
/*--------------------------------------------------------------------------------------------------------------

TOP MENU

--------------------------------------------------------------------------------------------------------------*/
.top-menu {
  /*padding: 20px 0;*/
  background: #1F5C99;
  overflow: hidden;
  display: block;
  /*width: 80%;*/
}
.top-menu > li {
  display: inline-block;
  /*margin: 0 10px;*/
  width: 20%;
  /*float:left;*/
  cursor: pointer;
  vertical-align: top;
}
.top-menu > li:first-child {
  width: 10%;
}
.top-menu > li h1 {
  /*width: 10%;*/
  text-align: left;
  display: block;
}
.top-menu > li h1 img {
  max-width: 39px;
  vertical-align: top;
  margin: 5px;
}
.top-menu > li:active {
  background: #1E4469;
}
.top-menu > li:last-child span {
  border-right: none;
}
.top-menu span {
  display: block;
  /*background: black;*/
  margin: 0;
  min-height: 44px;
  padding: 10px;
  border-right: 1px solid #4C7DAD;
}
.top-menu span * {
  display: block;
  clear: both;
}
.remote-venue-item {
  position: relative;
}
.venue-show-item {
  background: rgba(0, 0, 0, 0.8);
  /*padding: 10px;*/
  /*font-size: 0.8em;*/
  /*height: 100px;*/
  border-top: 1px solid #333;
}
.venue-show-item td {
  padding: 5px;
}
.venue-show-item .show-title {
  /*float:left;*/
  /*margin-top: 1em;*/
  width: 70%;
  text-align: left;
}
.venue-show-item .show-image {
  width: 20%;
}
.venue-show-item .show-image img {
  max-width: 100%;
}
.venue-show-item .icon {
  width: 10%;
  font-size: 2em;
}
.venue-show-item .icon i {
  opacity: .5;
}
.venue-show-item img {
  border: 1px solid #666;
  display: block;
  /*float: right;*/
  /*margin-top: -20px;*/
}
.venue-show-item h2 {
  padding-right: 10px;
  font-size: 1em;
  font-weight: normal;
}
.venue-show-item h2 span {
  display: block;
  clear: both;
}
.slide-content-wrapper h2 span {
  display: none;
}
.slide-content-wrapper h2 {
  font-size: 1.3em;
}
/*--------------------------------------------------------------------------------------------------------------

NAV SLIDERS

--------------------------------------------------------------------------------------------------------------*/
.slider-and-nav {
  position: relative;
}
.nav-slider-container {
  clear: both;
  text-align: center;
  width: 100%;
}
#venue-nav-slidr {
  /*max-height: 139px;*/
}
#venue-nav-slidr,
#venue-nav-slidr div {
  width: 100%;
}
.nav-slider-container aside {
  display: none;
}
.nav-slider-container > div {
  /*width: 320px;*/
  overflow: hidden;
  margin: auto;
}
.nav-slider-container h4 {
  background: rgba(31, 92, 153, 0.9);
  z-index: 100;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0px;
  padding: 8px 0px;
}
.nav-slider-container img {
  width: 100%;
  vertical-align: top;
  /*border-bottom: 5px solid #4c7dad;*/
}
/* PATRICK TEST */
.venue-show-page-next.bad,
.venue-show-page-previous.bad {
  background: #ddd !important;
  color: #aaa !important;
  /*display:none;*/
}
.wrapper {
  background: #E8E8E8;
}
.waiting-for-kiosk {
  background: black;
  font-size: 20px;
  padding: 20px;
  font-family: "Helvetica Neue";
  font-weight: lighter;
}
.waiting-for-kiosk img {
  display: block;
  margin: 20px auto;
}
/* PRC Added Loader 
http://projects.lukehaas.me/css-loaders/
*/
.loader {
  font-size: 10px;
  margin: 5em auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #FFF;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  /*  background: fade(saturate(@primary_color, 50%), 90%);
*/
  background: black;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* PRC Angular Animate */
.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: red;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
